body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(225, 222, 222);  
    display: flex; 
    justify-content: center;

}

.container{
    display: flex;
    flex-direction: column;  
    gap: 20px;
    border-radius: 5px;
    background-color: rgb(207, 189, 189);
    padding: 20px;
    margin: 20px;
    width: 50%;
}

h1{
    text-align: center;
    background-color: rgb(156, 59, 67);
    color: white;
    padding: 10px;
    border-radius: 5px;
    
    
}


.question{
    background-color: rgb(207, 189, 189);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}


.submit-btn{
    padding: 10px;
    background-color: rgb(48, 108, 192);
    border: none;
    border-radius: 5px;
    width: 100%;
}